beautifulsoup4
bokeh
bottleneck
cartopy
cf_units
cftime
cloudpickle
cython
dask
dill
easyavro
ffmpeg
fiona
gdal
geoalchemy2
geoviews
geojson
geopandas
gunicorn
h5netcdf
h5py
hdf5
holoviews
ipywidgets
isodate
jupyter
matplotlib
nco
netCDF4
numba
numexpr
numpy
openssl
pandas
paramiko
parcels
paste
pastedeploy
patsy
pocean-core
protobuf
pseudonetcdf
psycopg2
pydap
pygc
pynco
pynio
python-dateutil
rasterio
requests
scikit-image
scikit-learn
scipy
seaborn
shapely
sqlalchemy
statsmodels
sympy
vincent
xarray
xlrd
zarr
